/* You can add global styles to this file, and also import other style files */

$gutter: 1rem; //for primeflex grid system
@import "assets/layout/styles/layout/layout.scss";

/* PrimeNG */
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";

/* Demos */
@import "assets/demo/styles/flags/flags.css";
@import "assets/demo/styles/badges.scss";
@import "assets/demo/styles/code.scss";
@font-face {
    font-family: "GT Eesti";
    src: url("/assets/fonts/inter/Inter_28pt-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GT Eesti";
    src: url("/assets/fonts/inter/Inter_28pt-SemiBold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "GT Eesti";
    src: url("/assets/fonts/gt-eesti/GT-Eesti-Text-Regular-Trial.otf")
        format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GT Eesti";
    src: url("/assets/fonts/gt-eesti/GT-Eesti-Display-Bold-Italic-Trial.otf")
        format("opentype");
    font-weight: bold;
    font-style: normal;
}
* {
    font-family: "GT Eesti", sans-serif;
    color:hsla(189, 89%, 17%, 1);

}
